## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

## build
/public/**/build/
/dist/
/.svelte-kit/

## Package locks
package-lock.json
yarn.lock

## Variables enviroment
.env